COMPOSE_PROJECT_NAME=skillbridge_bigdata
BIGDATA_DB_HOST=localhost
BIGDATA_DB_PORT=5433
BIGDATA_DB_NAME=skillbridge
BIGDATA_DB_USER=skillbridge
BIGDATA_DB_PASSWORD=skillbridge
DATASET_ZIP_PATH=C:\Users\omare\Downloads\archive (1).zip
DATASET_CSV_NAME=final_cleaned_dataset.csv
HDFS_BASE=/data/skillbridge
HIVE_DATABASE=skillbridge_bigdata

